figure.card{
    display: grid;
    grid-template: minmax(0,1fr)/minmax(0,1fr);
    grid-template-areas: 'stack';
    width: 15em;
    height: 10rem;
    margin: 4px;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

figure.card:hover{
    opacity: .6;
}

figure.card > img{
    grid-area: stack;
    object-fit: cover;
    place-self: stretch;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

figure.card > figcaption {
    grid-area: stack;
    align-self: end;
    justify-self: stretch;

    background-color: #27273980;
    color:white;

    text-align: end;
    padding:8px;

    backdrop-filter: blur(6px);
    
}

